<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">


<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">
	<form action="/memberList" method="post">
	<select name = "sk">
		<option value="아이디">아이디</option>
		<option value="권한">권한</option>
		<option value="이메일">이메일</option>
	</select>
		<input type="text" name="sv" placeholder="검색어를 입력해주세요"/>
		<button type="submit">검색</button>
	</form>
	<div >
<!-- style="width: 100%; height: 350px; overflow: auto" -->
		<!-- <table border="1">
			<tr>
				<td>
					<form th:action="@{/memberSearch}" method="post">
						<select name="cond1">
							<option value="1">아이디</option>
							<option value="2">권한</option>
							<option value="3">이름</option>
							<option value="4">이메일</option>
						</select> <input type="text" name="cond2"> <input type="submit"
							value="검색버튼">

					</form>
				</td>
			</tr>
		</table> -->

		<table border="1">
			<thead>
				<tr>
					<th>아이디</th>
					<th>비밀번호</th>
					<th>이름</th>
					<th>권한</th>
					<th>이메일</th>
					<th>주소</th>
					<th>등록날짜</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<!-- 
		<th:block th:each="num : ${#numbers.sequence(1,5)}">
		<label th:text="${memberList.get(num).memberId}"></label>
	</th:block>
		 -->
			<tbody>
				<!-- 			<tr th:if="${#lists.size(memberList)>0}"> -->
				<tr th:each="member : ${memberList}">
					<td th:text="${member.memberId}"></td>
					<td th:text="${member.memberPw}"></td>
					<td th:text="${member.memberName}"></td>
					<td th:text="${member.memberLevel}"></td>
					<td th:text="${member.memberEmail}"></td>
					<td th:text="${member.memberAddr}"></td>
					<td th:text="${member.memberRegDate}"></td>
					<td><a th:href="@{/modifyMember(memberId=${member.memberId})}">수정</a>
						<!-- <a th:href="@{/modifyMember(memberId=${memberId})}"></a> -->
					</td>
					<td>
						<a th:href="@{/deleteMember(memberId=${member.memberId})}">삭제(my)</a>
						<!-- e.g) removeMember?memberId=id001$memberLevel=관리자 -->
						<a th:href="@{/removeMember(memberId=${member.memberId}, memberLevel=${member.memberLevel})}">삭제(teacher)</a>
					</td>
				</tr>


			</tbody>
			<!--
	**thymeleaf에서 객체 반복문으로 풀어서 처리**
	**jstl반복문** 	 
	<c:forEach items="${memberList}" var="member">
       <td>${member.memberId}</td>
    </c:forEach> 
            
            -->
		</table>
	</div>
</th:block>

</html>