<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">


<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">
	<div style="width: 100%; height: 350px; overflow: auto">
		<table border="1">
			<thead>
				<tr>
					<th>판매자 아이디</th>
					<th>판매자 이름</th>
					<th>상품코드</th>
					<th>상품이름</th>
					<th>상품가격</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>

			<tbody>
			<!-- 타임리프 반복문 중첩하기 -->
				<th:block th:if="${#lists.size(sellerList) > 0}" th:each="seller : ${sellerList}">
					<tr th:if="${#lists.size(seller.goodsList) > 0}" th:each="goods : ${seller.goodsList}">
						<td th:text="${seller.memberId}"></td>
						<td th:text="${seller.memberName}"></td>
						<td th:text="${goods.goodsCode}"></td>
						<td th:text="${goods.goodsName}"></td>
						<td th:text="${#numbers.formatInteger(goods.goodsPrice, 3, 'COMMA')}" style="text-align: right;"></td>
<!-- 						<td th:text="${seller.goodsCode}"></td>
						<td th:text="${seller.goodsList[0].goodsName}"></td>
						<td th:text="${seller.goodsList[0].goodsPrice}"></td> -->
					
						<td>
							<!-- <a th:href="@{/modifyMember(memberId=${seller.memberId})}">수정</a>			 -->
							<a th:href="@{/sellerModifyGoods(goodsCode=${goods.goodsCode})}">수정</a>
						</td>
						<td>
							<!-- <a th:href="@{/deleteMember(memberId=${seller.memberId})}">삭제(my)</a>					
						<a th:href="@{/removeMember(memberId=${seller.memberId}, memberLevel=${seller.memberLevel})}">삭제(teacher)</a> -->
							<a th:href="@{/sellerRemoveGoods(goodsCode=${goods.goodsCode})}">삭제</a>
						</td>
					</tr>
				</th:block>


			</tbody>
			<!--
	**thymeleaf에서 객체 반복문으로 풀어서 처리**
	**jstl반복문** 	 
	<c:forEach items="${memberList}" var="member">
       <td>${member.memberId}</td>
    </c:forEach> 
            
            -->
		</table>
	</div>
</th:block>

</html>