<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>권한</th>
				<th>이름</th>
				<th>이메일</th>
			</tr>
		</thead>
		<tbody>
			<!-- 	내가 한 test4 작업 생성자 메소드 이용	
			<tr th:each="member : ${list}">
				<td th:text="${member.memberId}"></td>
				<td th:text="${member.memberPw}"></td>
				<td th:text="${member.memberLevel}"></td>
				<td th:text="${member.memberName}"></td>
				<td th:text="${member.memberEmail}"></td>
			</tr> 
			-->
			<tr th:each="l : ${list}">
				<td th:text="${l.memberId}"></td>
				<td th:text="${l.memberPw}"></td>
				<td th:text="${l.memberLevel}"></td>
				<td th:text="${l.memberName}"></td>
				<td th:text="${l.memberEmail}"></td>
			</tr>	
		</tbody>
	</table>
</body>
</html>